
h1 {
  background: #0072d3;
  color: #fff;
  line-height: 60px;
  text-align: center;
}

ul,ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  width: 140px;
  height: 30px;
  font-size: 24px;
  padding: 10px;
}

p {
  font-size: 22px;
}

.btn {
  font-size: 22px;
  width: 150px;
  height: 50px;
  border: none;
  color: #fff;
  background: #0072d3;
}

.wrapper {
  padding: 0 20px;
}